language: node_js
services:
  - mysql #travis provides the service with mysql 5.7 on july 2020
before_install:
  - wget https://repo.mysql.com//mysql-apt-config_0.8.10-1_all.deb
  - sudo dpkg -i mysql-apt-config_0.8.10-1_all.deb
  - sudo apt-get update -q
  - sudo apt-get install -q -y --allow-unauthenticated -o Dpkg::Options::=--force-confnew mysql-server
  - sudo systemctl restart mysql
  - sudo mysql_upgrade
  - mysql --version
  ## install mongodb
  - wget https://repo.mongodb.org/apt/ubuntu/dists/xenial/mongodb-org/4.2/multiverse/binary-amd64/mongodb-org-server_4.2.8_amd64.deb
  - sudo dpkg -i ./mongodb-org-server_4.2.8_amd64.deb
  - mongo --version
  #You can remove all steps above if you want to run tests on MySQL 5.7
  - sudo mysql -e "SET PASSWORD FOR 'root'@'localhost' = 'password';" # it should be "PASSWORD('password') for MySQL5.7
  - sudo mysql -ppassword -e "GRANT ALL ON northwind.* TO 'root'@'localhost';"
  - sudo mysql -ppassword < dumps/northwind.sql
before_script:
  - sleep 15
  - mongorestore dumps/northwind_mongodb/
node_js:
  - "10.19.0"
script:
  - npm run test
